body,
html {
    overflow-x: hidden !important;
}

#genki:hover {
    color: blue;
}

.container {
    visibility: hidden;
}

#pai #genki:hover  ~ .container {
    visibility: visible;
}


.aparece {
    visibility: hidden; 
    

}

#pai2 #narutin:hover ~ .aparece {
    visibility: visible;
}